@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,700;1,700;1,800&display=swap');

/* customized Bootstrap */
.container{
    --bs-gutter-x:15px;
    max-width: 1140px;
}
.row{
    --bs-gutter-x:30px;

}
/* customized Bootstrap end */


:root{
    --orange: hsl(36,80%,50%);
    --white: hsl(0,0%,100%);
    --WHITE: hsl(0,0%,100%);
    --BLACK: hsl(0,0%,0%);
    --black-90: hsl(0,0%,10%);
    --black-70: hsl(0,0%,30%);
    --black-alpha-40: hsl(0,0%,0% ,0.4 );
    --yellow-light: hsl(44,95%,83%);
    --green-light: hsl(158,68%,75%);
    --red-light: hsl(0,84%,80%);
    --red: hsl(0,84%,80%);
    --orange-light: hsl(22,85%,80%);
    --select-box-bg-color: hsl(0,0%,100%);
    --border-color-1: hsl(0,0%,90%);

}

body.t-dark{
    --body-bg-color: hsl(240, 10%, 19%);
    --black-70: hsl( 0,0%,87%);
    --black-90: hsl(0,0,100%);
    --shadow: 0 0 10px hsla(0,0%,0%,0.08);
    --white: hsl(240, 8%, 21%);
    --select-box-bg-color: hsl(240,8%,21%);
    --border-color-2: hsl(240,9%,25%);
    --border-color-1: hsl(240,9%,30%);
}

body{
    background-color: var(--body-bg-color);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--black-70) ;
    font-weight: 400;
    min-height: 100vh;
    overflow-x: none;
}
body > div.main-wrapper > section.banner-setion.d-flex.align-items-center > div > div > div:nth-child(1) > div > h1  {
    color: var(--black-70);
}
body > div > section > div.container > div > div.row.mt-4.justify-content-center{
    display: none;
}
body > div.main-wrapper > section.banner-setion.d-flex.align-items-center > div > div > div:nth-child(1) > div > p{
    color: var(--black-70);

}
body > div.main-wrapper > sectionc > div.container > div:nth-child(n) > div:nth-child(n) > div > a > div > h3{
    color: var(--black-70);
    
}
body > div.main-wrapper > sectionc > div.container > div:nth-child(n) > div:nth-child(n):hover body > div.main-wrapper > sectionc > div.container > div:nth-child(2) > div:nth-child(1) > div > a > div > h3{
    color: var(--main-color);   
}
a{
    color: var(--main-color);
    text-decoration: none;
 
}
h3{
    font-size: 20px;
}
h1,h2,h3,h4,h5,h6{
    color: var(--black-90);
    line-height: 1.3;
}
a:hover{
    color: var(--main-color);

}
img{
    max-width: 100%;
}
ul{
    list-style: none;
    margin: 0%;
    padding:0;
}
::selection{
    color: var(--WHITE);
    background-color: var(--main-color);
}
.header{
    border-bottom: 1px solid var(--border-color-2);
}
.header-logo a{
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--black-70);
    font-family: initial;
    letter-spacing: 3px;

}
.header-logo span{
    color: var(--main-color);
    font-size: 35px;
    font-family: initial  ;
    letter-spacing: 3px;

}
.header .menu-item{
    display: inline-block;
    margin-left: 40px;
}
.header .menu-item > a{
    display: block;
    padding: 24px 0;
    font-weight: 400;
    color: var(--black-90);
    text-transform: capitalize;
    transition: color 0.3 ease;
}
.header .menu-item:hover > a{
    color: var(--main-color);
}
.header-backdrop,
.header-close-btn,
.header-hamburger-btn
{
    display: none;
}
/* banner */
.banner-setion{
        padding: 80px 0px ;
    min-height: 680px;
}
.banner-setion  .circular-img-circle{
    background-color: var(--red-light) ;
    
}
/* banner end */
/* circular-img */
.circular-img{
    max-width: 360px;
    margin: auto;
    position: relative;
    z-index: 1;
    
}
.circular-img-inner{
text-align: center;
border-radius: 0 0 180px 180px;
overflow: hidden;

}
.circular-img-circle{
    height:360px ;
    width: 360px;
    position: absolute;
    left: 0;
    bottom: 0;   
    border-radius: 50%; 
    
}
.circular-img img{
    position: relative;
    z-index: 1;
    
}
.banner-text h2{
    font-size: 20px;
    color: var(--main-color);
}
.banner-text h1 {
    font-size: 45px;
    font-weight:700 ;
    color: black;
}
.banner-text p{
    color: black;
    font-weight:300 ;

}

/* circular-img end*/
/* @key framing */
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
       100%{
        transform: rotate(360deg);
    }
}
/* @key framing end */

/* button */
.btn-theme{
    background-color: var(--main-color);
    color: var(--WHITE);
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 8px 20px;
    transition: all 0.3s ease ;
}
.btn-theme:hover{
    color: var(--WHITE);
    background-color: var(--button-hover-color);
}
.btn-theme:focus{
    box-shadow: 0 0 8px var(--main-color);
}
/* button  end */
/* box */
.box{
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: var(--shadow);
    padding: 30px;
}
/* box  end */
/* Procduct  */
.section-padding{
    padding: 60px 0 ;
}
.section-title{
    margin-bottom:40px ;
}
.section-title .title{
    font-size:20px ;
    text-transform: capitalize;
}
.title{
    color: var(--main-color);

}
.sub-title{
    font-size: 35px;
    color: var(--black-90);
    font-weight: 540;
}
.courses-item{
    margin-bottom: 30px;
    position: relative;
}
.courses-item .img-box{
    width: 100%;
    border-radius: 5px;
}
.courses-item .link{
    color: var(--black-70);
    display: inline-block;
}
.courses-item .title{
    text-transform: capitalize;
    margin: 15px 0;
    transition: color 0.3s ease;
    color: black;
}
.courses-item:hover .title{
    color: var(--main-color);    
}
.courses-item .instructor{
    text-transform: capitalize;
    margin: 0 0 12px;
}
.courses-item .instructor img {
    width: 30px;
    border-radius: 50%;
    margin-right:5px ;
    
}
.courses-item .price{
 position: absolute;
 right: 15px;
 top: 15px;
 background-color: var(--main-color);
 color: var(--WHITE); 
 font-weight: 400;
 padding: 4px 8px ;  
 border-radius: 5px;
}
/* Procduct  end  */

/* testimonial  */
.testimonials-section .img-box{
    height: 150px;
    width: 150px;
    background-color: var(--red-light);
    margin: 30px auto 50px;
}
.testimonials-section .img-box::before,
.testimonials-section .img-box::after{
    content: '';
    position: absolute;
    border-radius: 50%;
    border: 1px solid var(--red-light);
    animation: spin 15s linear infinite  ;

}
.testimonials-section .img-box::before{
    height: 180px;
    width: 180px;
    left: -15px;
    top: -15px;
    border-left: 1px solid transparent;
}
.testimonials-section .img-box::after{
    height: 210px;
    width: 210px;
    left: -30px;
    top: -30px;
    border-right: 1px solid transparent;
}
.testimonials-section .text-2{
    margin: 0%;
    text-transform: capitalize;
}
.testimonials-section h2{
    text-transform: capitalize;

}

.testimonials-section .carousel-control-prev,
.testimonials-section .carousel-control-next
    {
    position: relative;
    height: 35px;
    width: 35px;
    background: var(--main-color);
    display: inline-block;
    border-radius: 50%;
    margin: 0 4px;
}
.testimonials-section .decoration-circle-item{
    position: absolute;
    border-radius: 50%;
    opacity: 0.4;
}
.testimonials-section .decoration-circle-item:nth-child(1){
    left: 10%;
    top: 20%;
    height: 30px;
    width: 30px;
    background-color: var(--yellow-light);
}
.testimonials-section .decoration-circle-item:nth-child(2){
    left: 40%;
    top: 40%;
    height: 50px;
    width: 50px;
    background-color: var(--green-light);
}
.testimonials-section .decoration-circle-item:nth-child(3){
    left: 70%;
    top: 70%;
    height: 40px;
    width: 40px;
    background-color: var(--red-light);
}
.testimonials-section .decoration-circle-item:nth-child(4){
    left: 80%;
    top: 20%;
    height: 80px;
    width: 80px;
    background-color: var(--orange-light);
}
.testimonials-section .decoration-img-item{
    position: absolute;
    border-radius: 50%;
    opacity: 0.4;
}
.testimonials-section .decoration-img-item:nth-child(1){
    height: 30px;
    width: 30px;
    left: 10%;
    top: 19.5%;


}
.testimonials-section .decoration-img-item:nth-child(2){
    left: 80%;
    top: 20%;
    height: 80px;
    width: 80px;
}
.testimonials-section .decoration-img-item:nth-child(3){
    height:45px;
    width: 45px;
    left: 69.8%;
    top: 68.9%;
}


/* testimonial end */

/* become a seller */

.bai-srction .circular-img-circle{
    background-color: var(--yellow-light);
}
/* become a seller end */



/* Footer */
    .footer-top{
        padding: 50px 0 20px;
        border-top: 1px solid var(--border-color-2) ;
    }
    .footer-item{
        margin: 0 0 30px;
    }
    .footer-item h3{
        text-transform: capitalize;
        margin: 0 0 20px;
    }
    .footer-item .footer-logo{
        color: var(--black-70);
        text-transform: uppercase;
    }
    .footer-item .footer-logo span{
        color: var(--main-color);
    }
    .footer-item ul li :not(:last-child){
        margin-bottom: 8px;
    }
    .footer-item ul li a {
        transition: 0.3s;
    }
    .footer-item ul a{
        text-transform: capitalize;
        color: var(--black-70);
        transition: color 0.3s ease ;
        position: relative;
    }
    .footer-item ul a::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 1px;
        background-color: var(--main-color);
        transition: width 0.3s ease ; 

    }
    
    .footer-item ul a:hover::before{
        width: 100%;
    }
    .footer-item ul a:hover{
        margin-left: 3px;
        color: var(--main-color );
    }

/* footer end */
/* Breadcrump */
.breadcrumb-nav{
    padding: 10px 0 ;
    font-weight:400 ;
}
.breadcrumb-nav .breadcrumb-item{
    font-size: 14px;
    text-transform: capitalize;
}
.breadcrumb-nav .breadcrumb-item + .breadcrumb-nav .breadcrumb-item::before,
.breadcrumb-nav .breadcrumb-item.active{
    color: var(--black-70);
}
/* Breadcrump end */
/* tabs */
.nav-tabs .nav-link{
    background-color: var(--white);
    text-transform: capitalize; 
    padding: 5px 12px;
    margin: 0 5px 10px;
    border-radius: 5px;
    color: var(--black-70);
    font-size: 16px;   
}
.nav-tabs .nav-link:hover{
    background: var(--main-color);
    color:var(--WHITE) ;


}
.nav-tabs .nav-link.active{
    background: var(--main-color);
    border-color:transparent ;
    color:var(--WHITE) ;
}
/* tabs end  */


/*Pagination start  */
.page-item.disabled .page-link,
.page-link{
    border: none;
    background-color: transparent;
    color: var(--black-70);
}
.page-item.active .page-link{
    background-color: var(--main-color);
}
.page-link:hover{
    background-color: var(--main-color);
    color: var(--WHITE);
}

/*Pagination end  */

/* contact start */
.btn-block{
    width: 100%;

}
.btn-from{
    height: 48px;
}
.form-title{
    font-size: 24px;
    margin: 0 0 30px;
    font-weight: 600;
}
.form-control::placeholder{
    color: var(--black-90);
}
.form-control{
    height: 48px;
    border-color: var(--main-color);
    color: var(--black-90);
    background-color: transparent;
}
.form-control:focus{
    background-color: transparent;
    border-color: var(--border-color-1);
    color: var(--black-90);
    box-shadow: none;
}
.form-group{
    margin-bottom:25px ;
    position: relative;
}
.select-icon{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 13px;
}
select.form-control:focus option{
    background-color: var(--select-box-bg-color);
}
.contact-item{
    position: relative;
    padding-left: 55px;
    margin-bottom: 40px;

}
.contact-item .icon-box{
    position: absolute;
    height:40px ;
    width: 40px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50% ;
    left: 0;
    top :0 ;
    color: var(--WHITE);
}
textarea.form-control{
    height: 120px;
    resize: none;
}
/* contact end */

/*About section  */
    /* about header */
    .course-header h2 {
        font-size: 30px;
        margin: 0 0 15px;
        font-weight: 600;
    }
    .course-header ul li {
         margin: 6px 0 0;
         text-transform: capitalize;
    }
    .course-header ul li span{
        margin-left: 5px;
    }
    
    /* about end */
    /* About tabs */
    .course-tabs{
        margin: 30px 0 20px ;
    }
    .course-tabs .nav-link {
        margin: 0 10px 10px 0;
    }

    .course-header-2{
        transition: 0.3s;
        cursor: pointer;
        background: var(--main-color);
        width: 100%;
        justify-content: center;
        
    }
    .course-header-3{
        background-color: var(--green-light);
        
    }

    .course-header-2 p{
        font-weight: 400;
    }
.course-header-2:hover{
    background-color: var(--WHITE);

}
   

    .course-sidebar .img-box{
        margin-bottom: 20px;
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;
    }
    .course-sidebar .img-box::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: var(--black-alpha-40);
    }
    .course-sidebar .img-box  .play-icon{
        position: absolute;
        width: 50px;
        height: 50px;
        top: 50%;
        left: 50%;
        background-color: var(--main-color);
        transform: translate(-50% , -50%);
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: var(--WHITE);

    }
    .course-sidebar .img-box p{
        position: absolute;
        color: var(--WHITE);
        top: calc(50% + 40px );
        font-weight: 500;
        width: 100%;
    }
    .course-sidebar .price span{
        margin-right:8px ;
    }
    .course-sidebar .price-new{
        font-size: 30px;
        font-weight: 700;
        color: var(--black-90);
    }
    .course-sidebar .price-discount{
        color: var(--main-color);
        
    }
    .course-sidebar   .feature-list{
        margin: 0 0 20px;
    }
    .course-sidebar   .feature-list li {
        position: relative;
        padding-left:21px ;
        margin-bottom: 8px ;
    }
    .course-sidebar   .feature-list li::before {
        content: '';
        position: absolute;
        height: 6px ;
        width: 6px;
        background-color: var(--main-color);
        left: 0;
        top: 9px;
        border-radius: 50%;
        
    }
    .btn-block{
        width: 100%;
    }
    .video-modal .btn-close{
        height: 35px;
        width: 35px;
        border-radius: 50%;
        background-image: none;
        opacity: 1 ;
        z-index: 1;
        position: absolute;
        right: 0;
        top: -35px ;
        color: var(--WHITE);
        font-size: 16px;
        padding: 0;
    }
    .video-modal .modal-content{
        border: 0;
    }
    /* About tabs end */

/*About section end   */

.style-switcher{
        width: 250px;
        position: fixed;
        height: 100%;
        background: var(--white);
        right: -250px;
        top: 0;
        z-index: 10;
        padding: 30px;
        box-shadow: var(--shadow) ;
       transition: 0.3s ease ; 
    }
    .style-switcher.open{
        right: 0;
    }
    .style-switcher-toggler{
        height: 40px;
        width: 40px;
        position: absolute;
        top: 28%;
        left: -40px ;
        background: var(--main-color);
        color: var(--WHITE);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 8px 0 0 8px;
    }
    .style-switcher h3{
        font: 18px;
        text-transform: capitalize;
        border-bottom: 1px solid var(--border-color-1) ;
        padding: 0 0 10px;
    }
    .style-switcher-item{
        padding:10px 0  ;
        border-bottom: 1px solid var(--border-color-1) ;

    }
    .theme-colors button{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: none;
        vertical-align: middle;
        padding:0 ;
        position: relative;
    }
    .theme-colors button::before{
        content: "\f00c";
        font-family:'Font Awesome 5 Free' ;
        font-weight: 900;
        font-size: 12px;
        color: var(--WHITE);
        transition: all 0.3s ease;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%);
        opacity: 0;

    }
    .theme-colors button.active::before{
        opacity: 1;
    }
    .theme-colors .color-1{
        background-color: hsl(0, 74%, 61%);
    }
    .theme-colors .color-2{
        background-color: hsl(230, 74%, 61%);
    }
    .theme-colors .color-3{
        background-color: hsl(36, 74%, 61%);
    }
    .theme-colors .color-4{
        background-color: hsl(277, 74%, 61%);
    }
    .theme-colors .color-5{
        background-color: hsl(164, 74%, 61%);
    }
/* style-switcher */

/* style-switcher end */